@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

*{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {background-color: #EEEEEE;}

.blue {background-color: blue;}
.red  {background-color: red;}
.error {border: 2px solid red;}

#arena-game{
  margin: 30px auto;
  width: 50%;
}
  #arena-game #status-bar{
    background-color: #5DA5A2;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
  }
    #arena-game #status-bar .score{
      align-items: center;
      display: flex;
    }
      #arena-game #status-bar .color-team{
        border-radius: 4px;
        height: 30px;
        width: 30px;
      }
      #arena-game #status-bar p{
        font-size: 18px;
        padding: 0px 15px;
      }

  #arena-game #box-film{
    padding: 70px 0px;
    text-align: center;
  }
    #arena-game #box-film img{
      margin: 0px 15px;
      width: 60px;
    } 
  #arena-game #box-controls{
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
  }
    #arena-game #box-controls #text{
      background-color: #e0e0e0;
      border: none;
      border-bottom: 2px solid #5DA5A2;
      font-size: 18px;
      padding: 15px;
      width: 250px;
    }
      #arena-game #box-controls #text:hover{
        background-color: #d0d0d0;
      }
    #arena-game #box-controls #submit{
      background-color: #5DA5A2;
      border:none;
      border-radius: 7px;
      box-shadow: 2px 2px 10px 0px black;
      color: white;
      font-weight: 900;
      font-size: 18px;
      padding: 12px;
    }
      #arena-game #box-controls #submit:active{
        transform: scale(0.95);
      }


@media (max-width: 1200px) {
  #arena-game{
    width: 70%;
  }
}

@media (max-width: 900px) {
  #arena-game{
    width: 97%;
  }
}

